:root {
  --light: rgb(255, 255, 255);
  --dark: rgb(0, 0, 0);
  --title-color: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255);
  --title-font: "Poppins", sans-serif;
  --text-font: "Poppins", sans-serif;
  --title-font-size: ;
  --text-font-size: ;
}

.contact_qb {
  justify-content: space-evenly;
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 120vh;
}

.contact_form_qb > h1 {
  text-align: center;
  margin-top: 1rem;
}

.contact_form_qb {
  margin-top: 10rem;
  background-color: black;
  width: 30rem;
  height: 40rem;
  text-align: center;
  border: 1px solid white;
  justify-content: center;
}

.contact_form_qb * {
  background-color: black;
}

.contact_label_qb {
  font-weight: bold;
  color: var(--light);
  display: block;
  margin-block-start: 1rem;
}

.contact_required_qb {
  margin: 0;
  color: var(--light);
  font-weight: 100;
}

.contact_input_qb {
  background-color: white;
  margin-block-start: 1em;
  text-align: center;
  height: 1.8rem;
  width: 90%;
  border-radius: 8px;
}

.contact_textaera_qb {
  background-color: white;
  margin-block-start: 1em;
  width: 90%;
  border-radius: 8px;
}

.button_form_qb {
  background-color: white;
  margin-top: 1rem;
  font-size: large;
  width: 5.5rem;
  height: 2.5rem;
  border-radius: 15px;
  cursor: pointer;
}

.contact_info_qb {
  margin-top: 10rem;
  background-color: black;
  width: 30rem;
  height: 40rem;
  text-align: center;
  border: 1px solid white;
}

.contact_info_qb * {
  background-color: black;
}

.contact_info_qb > h2 {
  text-align: center;
  margin-top: 1rem;
}

.contact_texte_qb {
  font-size: 1.1rem;
  color: var(--light);
  margin: 2rem;
}

.button_faq_qb {
  width: 10rem;
  height: 8rem;
  background-image: url(../assets/planetfaq.png);
  background-size: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid white;
}

@media screen and (max-width: 1000px) {
  .contact_qb {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact_form_qb {
    margin-top: 3rem;
    width: 21rem;
    height: 40rem;
  }

  .contact_info_qb {
    margin-top: 10rem;
    width: 21rem;
    height: 41rem;
  }
}